#container {
    height: 300px;
    width: 80%;
    background-color: aqua;
    margin: 10px auto;
    border: 2px solid black; 
    display: flex;
    /* flex-direction: column;   */
    flex-direction: row;
    /* flex-direction: column-reverse; */
    justify-content: flex-end;
    /* justify-content: space-between; */
    /* justify-content: space-around;  */
    /* justify-content: space-evenly; */
    align-content: flex-start;


}
 #blue {
    /* flex-basis: 400px; */
    flex-grow: 1;
    /* flex-shrink: 1; */
} 
#orange {
    /* align-self: flex-start;
    flex-basis: 300px; */
    /* flex-grow: 3; */
    /* flex-shrink: 2; */
    flex: 2 2 100px;
} 
h1{
    text-align: center;
}
#container div {
    height: 100px;
    width: 100px;
    color: white;
   text-align: center;
   font-size: 1em;

}