#container {
    height: 400px;
    width: 400px;
    border: 4px solid rgb(37, 165, 179);
    border-radius: 5%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: flex-start; 
}
#container div {
    font-size: 50px;
    font-weight: 500;
    height: 100px;
    width: 100px;
    border: 4px solid rgb(00, 00, 00);
    border-radius: 10%;
    background-color: gray;
    text-align: center;
    margin-top: 20px;
    

}