div {
    width: 800px;
    height: 400px;
    background-color: aquamarine;
    margin: 10px auto;
    text-align: center;
    background-image: url("!.jpg");
    /* background-size: contain;   */
    /* background-size: cover; */
    background-size: auto;
    color: black;
}