div {
    height: 200px;
    width: 200px;
    background-color: rgba(255,00,0, 1);
    margin-top: 10px;
    transition: margin-top 2s ease-in 0.2s;
    /* transform: rotate(45deg); */
}
/* #opacity {
    background-color: #ffa51a;
    opacity: 1;
} */
 div:hover {
    background-color: blue;
    border-radius: 50%;
    margin-top: 400px;
    transform: rotate(60deg);
 }