/* universal selector */
* {
    font-family: 'Courier New', Courier, monospace;
    
 }
/* element selector */ 
h1,h3{
    color: #b92b27;
} 
/* id selector  */
#login {
    background-color:white;
}
#signup {
   background-color: #b92b27; 
   color: white;
}
/* class selector */
.upvote {
    background-color: green;
    color: aliceblue;
}
/* descendent selector */
#myid p {
    color: green;
}
/* descendent selector */
p a {
    color: purple;
    background-color: yellow;
}
/* adjacent sibling combinator */
p+h3 {
    text-decoration: underline;
}
.upvote + button {
    background-color: cornflowerblue;
}
div>input {
    background-color: wheat;
}
input[type="text"]{
    color: black;
}
input[type="password"]{
    color: red;
}
/* pseudo class selector */
button:hover {
    background-color: black;
    color: white;
}
h3:hover {
    text-decoration: none;
}
input[type="radio"]:checked + label{
    color: red;
    font-weight: bold;
}
/* pseudo element selector */
h1::first-letter{
    color: green;
}
p::first-line{
    color: red;
}
p::selection{
    background-color: wheat ;
}