h1 {
    color:#0000ff;
    background-color: aqua;
}
p { 
    color:yellow;
    background-color: rgb(240, 46, 46); 
    font-size:20px;
     font-family:papyrus;
}
button {
    color: blue; 
    background-color: orange;
}
 h1 {
    font-family: league system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #ffa511;
    text-align: center;
    font-size: 55px;
    font-weight: 2px;
    line-height: 1.5;
    text-decoration: teal double underline;
    text-transform: uppercase;
 }